/* ----------------GENERAL RULES FOR THE WHOLE PAGE-------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: white;
}

li {
  list-style: none;
}

/* ------------------CLASSES TO BE USED MULTIPLE TIMES----------------------- */

.padTop {
  padding-top: 20px;
}

/* ------------------------------HEADER-------------------------------------- */

.container-flex {
  display: flex;
  justify-content: center;
}

header img {
  width: 30%;
  height: 30%;
}

/* ------------------------------------MAIN---------------------------------- */

#dannyInput {
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid black;
}

main button {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  background-color: grey;
  color: lime;
}

.grey-container {
  min-height: 200px;
  border-radius: 10px;
  background-color: grey;
  color: lime;
  margin: 100px 700px;
}

.single-element {

}
