/* ----------------GENERAL RULES FOR THE WHOLE PAGE-------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: white;
}

li {
  list-style: none;
}

/* ------------------CLASSES TO BE USED MULTIPLE TIMES----------------------- */

.padTop {
  padding-top: 20px;
}

.container-flex {
  display: flex;
  justify-content: center;
}

/* ------------------------------HEADER-------------------------------------- */

header img {
  width: 30%;
  height: 30%;
}

/* ------------------------------------MAIN---------------------------------- */

#dannyInput {
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid black;
}

main button {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin-left: 20px;
  background-color: #001533;
  color: lime;
  cursor: pointer;
  border: none;
}

.grey-container {
  min-height: 200px;
  border-radius: 5px;
  background-color: #001533;
  color: lime;
  margin: 100px 700px;
}


.grey-container li {
  font-size: 25px;
  font-weight: bolder;
  line-height: 200%;
  position: relative;
}

.grey-container .fa-times {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {text-shadow: 0 0 purple;}
  25% {text-shadow: 1px 0 purple, 2px 0 purple, 3px 0 purple, 4px 0 purple, 5px 0 purple; }
  50% {text-shadow: 0 0 purple;}
  75% {text-shadow: -1px 0 gold, -2px 0 gold, -3px 0 gold, -4px 0 gold, -5px 0 gold; }
  100% {text-shadow: 0 0 gold;}

  from {transform: rotateY(0deg);}
  to {transform: rotateY(-360deg);}
}


/* --------------------------FOOTER------------------------------------------ */
#dannyBtn {
  display: flex;
  justify-content: center;
}

#dannyBtn button {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #001533;
  color: lime;
}

.by-danny {
  color: #001533;
  font-size: 30px;
  font-weight: bold;
}

.by-danny li {
  display: inline;
}

.by-danny li:nth-child(1),
.by-danny li:nth-child(2) {
  color: lime;
}

.by-danny li:nth-child(2) {
  margin-right: 20px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
